main {
  width: 800px;
  height: 700px;
  margin: 10px 10px;
  border: 3px solid rgba(0, 0, 0, 0.7);
}

.computer,
.user {
  width: 550px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.computer div {
  width: 200px;
  height: 200px;
  border: 10px solid rgba(255, 30, 225, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.computer div i {
  font-size: 120px;
  color: black;
}
.computer span {
  font-size: 20px;
  font-weight: 600;
}

.user {
  height: 270px;
}
.user div {
  width: 270px;
  height: 270px;
  border: 10px solid rgba(30, 255, 68, 0.6);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user div i {
  font-size: 170px;
  color: black;
}
.user span {
  font-size: 30px;
  font-weight: 600;
}

.score {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 550px;
  width: 200px;
  height: 400px;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score__title {
  font-size: 30px;
  font-weight: 600;
}
.score__computer,
.score__user,
.score__colon {
  padding-top: 25px;
  font-size: 60px;
  font-weight: 600;
}

.rsp {
  width: 800px;
  height: 120px;
  border-top: 1px solid rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
.rsp__rsp {
  width: 600px;
  display: flex;
  justify-content: center;
  font-size: 70px;
}
.rsp__rock,
.rsp__sissors,
.rsp__paper {
  width: 100px;
  height: 100px;
  border: 5px solid rgba(30, 255, 68, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 255, 68, 0.05);
}
.rsp__sissors {
  margin: 0px 25px;
}
